


div.container-fluid
  div.row-fluid.row
    div.span9.span-fixed-sidebar


      h3 Battery
      progress(value='{{navdata.demo.batteryPercentage}}', max=100)

      h3 Status
      div#error
        div(ng-show='navdata.droneState.lowBattery') Too low on battery, recharge!
        div(ng-show='navdata.droneState.tooMuchWind') Too windy to fly right now
        div(ng-show='navdata.droneState.emergencyLanding', ng-click='disableEmergency()') Drone deactivated due to emergency landing. Click here to reactivate.

      h3 Navdata
      pre
        {{navdata | json}}

    div.span3
      div.well.sidebar-nav-fixed
        ul.nav.nav-list
          h3 Commands
          ul
            li(ng-repeat="(key,command) in commands") {{command.down}} : {{key}}

