doctype 5
html(lang="en", ng-app="drone")
  head
    title= "AR Drone"
    script(src="/socket.io/socket.io.js")
    != js('scripts')
    != css('main')

  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href="#") stockholm-nodejs-drone
          ul.nav
            li
              a(href = "#basic") Basic

    ng-view


//- doctype 5
//- html(lang="en", ng-app="drone")
//-   head
//-     title= "AR Drone"
//-     script(src="/socket.io/socket.io.js")
//-     != js('scripts')
//-     != css('main')

//-   body
//-     div.navbar.navbar-fixed-top
//-       div.navbar-inner

//-         a.brand(href="#") stockholm-nodejs-drone

//-         ul.nav
//-           li
//-             a(href = "#basic") Basic


//-   //-           <div class="navbar navbar-fixed-top">
//-   //- <div class="navbar-inner">
//-   //-   <div class="container-fluid">


//-     ng-view
